
/* Paleta de colores
#F2F2F2 (color de fondo)
#BF5841 (Naranja oscuro)
#F24C27 (naranja claro)
#205929 (verde oscuro)
#148C3E (verde claro)
#E5E5E5 (barra de navegacion y footer)
#FFFFFF (color de letras blancas)
#000000 (color de letras blancas)
*/

/* Tipografias elegidas
font-family: 'Preahvihear', sans-serif;
font-family: 'Inika', serif;
*/
/* Agenda tu cita */

/* Form text area */
/* Conteiner-catalogo */
/* Product */
/* Container-label */
/* Register */

/* Menu hamburguesa */


    /* .prueba{
        text-align: center;
    }
    .prueba label{
        display: block;
    } */