* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #F2F2F2;
}

html {
  font-family: "Inika", serif;
}

footer {
  width: 100%;
  height: 355px;
  border-radius: none;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  padding: 0px 20px;
  background-color: #E5E5E5;
}
footer .socialMedia {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  margin-bottom: 10px;
}
footer .socialMedia img {
  width: 43px;
  height: 41px;
  border-radius: none;
}
footer .socialMedia img:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
footer .access ul {
  display: flex;
  justify-content: none;
  gap: 200px;
  list-style: none;
}
footer .access ul li {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 254px;
  height: 37px;
  border-radius: 1.25rem;
  background-color: #F24C27;
  box-shadow: 5px 5px 8px #148C3E;
  border-radius: 10px;
}
footer .access ul li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}
footer .access ul li a:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
footer .img-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  margin-bottom: 50px;
}
footer .img-logo img {
  width: 76px;
  height: 86px;
  border-radius: none;
}
footer .img-logo img:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  background-color: #E5E5E5;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  z-index: 4;
}
header .nav-wrapper {
  width: 100%;
}
header .nav-wrapper nav {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: none;
}
header .nav-wrapper nav .logo {
  width: 100px;
}
header .nav-wrapper nav .logo img {
  width: 100%;
}
header .nav-wrapper nav #toggle, header .nav-wrapper nav label {
  display: none;
}
header .nav-wrapper nav .menu {
  display: flex;
  justify-content: flex-end;
  gap: none;
}
header .nav-wrapper nav .navBar {
  display: flex;
  justify-content: none;
  gap: 1.25rem;
  list-style: none;
}
header .nav-wrapper nav .navBar li {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  background-color: #148C3E;
  width: 184px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 10px;
}
header .nav-wrapper nav .navBar li a {
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
header .nav-wrapper nav .navBar li a:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.conteinerUno {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  height: 500px;
  padding: 0px 20px;
}
.conteinerUno .imgtext {
  width: 800px;
  height: 119px;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: flex-end;
  align-items: none;
  gap: none;
}
.conteinerUno .imgtext h2, .conteinerUno .imgtext .conteinerDos .text p, .conteinerDos .text .conteinerUno .imgtext p {
  font-family: "Preahvihear", sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 40px;
}
.conteinerUno .imgtext p {
  font-size: 30px;
  text-align: center;
  margin: none;
}
.conteinerUno .img img {
  width: 436px;
  height: 428px;
  margin-top: 45px;
}

.conteinerDos {
  width: 100%;
  height: 268px;
  padding: 0px 20px;
  background-image: url(../assets/imagen/fondoUno.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteinerDos .text {
  background-color: #148C3E;
  color: #FFFFFF;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 10px;
  width: 475px;
  height: 212px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conteinerDos .text h2, .conteinerDos .text p {
  font-family: "Preahvihear", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.conteinerDos .text p {
  font-size: 20px;
  margin-bottom: none;
}
.conteinerDos .buttoms {
  display: flex;
  flex-direction: column;
  justify-content: none;
}
.conteinerDos .buttoms button {
  background-color: #F24C27;
  margin-bottom: 20px;
  width: 184px;
  height: 35px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #148C3E;
}
.conteinerDos .buttoms button:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.conteinerDos .buttoms button a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.conteinerTres {
  width: 100%;
  height: 800px;
  padding: 0px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteinerTres .imgtextDos {
  width: 531px;
  height: 561px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteinerTres .imgtextDos img {
  width: 531px;
  height: 454px;
  border-radius: 1.25rem;
  margin-bottom: 10px;
}
.conteinerTres .textDos {
  background-color: #148C3E;
  width: 490px;
  height: 69px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 8px #F24C27;
}
.conteinerTres .textDos h2, .conteinerTres .textDos .conteinerDos .text p, .conteinerDos .text .conteinerTres .textDos p {
  font-family: "Preahvihear", sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.conteinerCuatro {
  background-image: url(../assets/imagen/Back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px #148C3E;
}
.conteinerCuatro a {
  font-family: "Preahvihear", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}
.conteinerCuatro a h2, .conteinerCuatro a .conteinerDos .text p, .conteinerDos .text .conteinerCuatro a p {
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 10px;
}
.conteinerCuatro a h2:active, .conteinerCuatro a .conteinerDos .text p:active, .conteinerDos .text .conteinerCuatro a p:active {
  animation: backOutRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.conteinerCinco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.conteinerCinco .imgCinco {
  margin: 20px 20px 20px 20px;
}
.conteinerCinco .textCinco {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 525px;
  height: 224px;
  margin-right: 100px;
}
.conteinerCinco .textCinco h2, .conteinerCinco .textCinco .conteinerDos .text p, .conteinerDos .text .conteinerCinco .textCinco p {
  font-family: "Preahvihear", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.conteinerCinco .textCinco p {
  font-size: 20px;
  text-align: center;
}

.footer-size-change {
  height: 140px;
}

.img-logo-change {
  width: 50px;
}
.img-logo-change img {
  width: 100%;
}

.form-textarea .personalized .h1-personalized {
  font-size: 25px;
}
.form-textarea .personalized label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-textarea .personalized textarea {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Preahvihear", sans-serif;
  font-size: 13px;
  border: none;
  background-color: #F24C27;
  margin-bottom: 10px;
}
.form-textarea .personalized textarea:focus {
  box-shadow: 5px 5px 8px #F24C27;
}
.form-textarea .personalized-1 {
  height: 520px;
}

.form-textarea .section-large .large {
  font-size: 30px;
}

.log-in input:focus {
  box-shadow: 5px 5px 8px #F24C27;
}
.log-in input[type=submit] {
  display: block;
  margin: 1em auto;
  background-color: #F24C27;
  color: #FFFFFF;
  height: 20px;
  border: 2px solid #148C3E;
}
.log-in input[type=submit]:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.back-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
}
.back-section .back-log {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #148C3E;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  grid-row: 12/13;
}
.back-section .back-log:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.back-section .back-log a {
  color: #FFFFFF;
  text-decoration: none;
}

.h1-conteiner-dimension {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 5/10;
  margin-top: 40px;
}
.h1-conteiner-dimension h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #148C3E;
  color: #FFFFFF;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-size: 30px;
  box-shadow: 5px 5px 8px #F24C27;
}

.conteiner-catalogo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  height: 2000px;
}
.conteiner-catalogo .quincena1 {
  grid-row: 2/3;
  grid-column: 6/8;
  height: 300px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .img-quni {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .h2-quin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #148C3E;
  border-radius: 20px;
  height: 40px;
  margin-top: 20px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .a-style {
  font-family: "Preahvihear", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
.conteiner-catalogo .quincena2 {
  grid-row: 2/3;
  grid-column: 9/11;
  height: 300px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .quincena2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .quincena3 {
  grid-row: 4/5;
  grid-column: 6/8;
  height: 300px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .quincena3 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .quincena4 {
  grid-row: 4/5;
  grid-column: 9/11;
  height: 300px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .quincena4 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .quincena5 {
  grid-row: 6/7;
  grid-column: 6/8;
  height: 300px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .quincena5 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .quincena6 {
  grid-row: 6/7;
  grid-column: 9/11;
  height: 300px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .quincena6 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .image {
  grid-column: 2/6;
  grid-row: 2/4;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.conteiner-catalogo .note {
  background-color: #F24C27;
  height: 200px;
  grid-row: 4/5;
  grid-column: 2/6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 5px 5px 8px #148C3E;
}
.conteiner-catalogo .note p {
  font-size: 25px;
  color: #FFFFFF;
  text-align: none;
  text-align: center;
}
.conteiner-catalogo .list {
  grid-column: 6/11;
  grid-row: 8/11;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 20px;
}
.conteiner-catalogo .list img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.general-form {
  background-color: #F2F2F2;
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  gap: 20px;
}
.general-form .section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  grid-column: 1/9;
}
.general-form .section1 h1 {
  display: flex;
  justify-content: center;
  align-items: none;
  font-family: "Preahvihear", sans-serif;
  font-size: 40px;
  background-color: #148C3E;
  border-radius: 10px;
  width: 400px;
  color: #FFFFFF;
  box-shadow: 5px 5px 8px #F24C27;
}
.general-form .section2 {
  grid-column: 3/4;
}
.general-form .section2 img {
  width: 413px;
  height: 397px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.general-form .section3 {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  background-color: #D9D9D9;
  height: 300px;
  border-radius: 20px;
  grid-column: 2/5;
  grid-row: 3/7;
  box-shadow: 5px 5px 8px #E5E5E5;
}
.general-form .section3 h2, .general-form .section3 .conteinerDos .text p, .conteinerDos .text .general-form .section3 p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Preahvihear", sans-serif;
  text-align: center;
}
.general-form .section3 form {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.general-form .section3 form fieldset {
  border: none;
}
.general-form .section3 form fieldset .label-1 {
  height: 50px;
  font-family: "Inika", serif;
}
.general-form .section3 form fieldset .label-1 label {
  margin-right: 10px;
}
.general-form .section3 form fieldset .time-date {
  height: 50px;
  margin-left: 0px;
}
.general-form .section3 form fieldset .contact-date {
  height: 50px;
  margin-bottom: 10px;
}
.general-form .section3 form input[type=submit] {
  display: block;
  margin: 1em auto;
  background-color: #F24C27;
  color: #FFFFFF;
  height: 20px;
}
.general-form .section3 form input[type=submit]:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.general-form .section3 form input[type=text] {
  height: 20px;
  text-align: center;
}
.general-form .section3 form input[type=tel] {
  height: 20px;
  text-align: center;
}
.general-form .section3 form input[type=date] {
  height: 20px;
  text-align: center;
}
.general-form .section3 form input[type=time] {
  height: 20px;
  text-align: center;
}
.general-form .section3 form input[type=email] {
  height: 20px;
  text-align: center;
}
.general-form .section3 form input {
  border-radius: 20px;
  width: 230px;
  border: none;
  background-color: #F24C27;
  color: #FFFFFF;
}
.general-form .section3 form input:hover {
  border: solid 2px #148C3E;
}
.general-form .section3 form input:focus {
  box-shadow: 5px 5px 8px #F24C27;
}
.general-form .section3 form .input-1 input {
  width: 100px;
  height: 30px;
}

.section4 {
  background-color: #F24C27;
  color: #FFFFFF;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  grid-column: 5/8;
  grid-row: 2/4;
  box-shadow: 5px 5px 8px #148C3E;
}
.section4 h2, .section4 .conteinerDos .text p, .conteinerDos .text .section4 p {
  font-size: 20px;
  text-align: center;
  text-justify: center;
  margin-bottom: 20px;
}
.section4 p {
  font-size: 16px;
  text-align: center;
  text-justify: center;
}

.form-textarea {
  height: 1200px;
}
.form-textarea .textarea-1 {
  height: 500px;
}
.form-textarea .textarea-1 form fieldset {
  margin-top: 50px;
}
.form-textarea .textarea-1 form fieldset .affair label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-textarea .textarea-1 form fieldset .affair textarea {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Preahvihear", sans-serif;
  font-size: 13px;
  border: none;
  background-color: #F24C27;
  margin-bottom: 10px;
}
.form-textarea .textarea-1 form fieldset .affair textarea:hover {
  border: 3px solid #148C3E;
}
.form-textarea .textarea-1 form fieldset .affair textarea:focus {
  box-shadow: 5px 5px 8px #F24C27;
}
.form-textarea .textarea-1 h2, .form-textarea .textarea-1 .conteinerDos .text p, .conteinerDos .text .form-textarea .textarea-1 p {
  display: none;
}

.change-product {
  height: 1350px;
  gap: 40px;
}
.change-product h1 {
  margin-top: 50px;
}

.main-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}
.main-label form .log-in-fieldset {
  border: 5px solid #148C3E;
  border-radius: 20px;
  width: 600px;
}
.main-label form .log-in-fieldset .log-in {
  width: 100%;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
}
.main-label form .log-in-fieldset .log-in .imge-log {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5/9;
  grid-row: 2/7;
}
.main-label form .log-in-fieldset .log-in .imge-log img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
}
.main-label form .log-in-fieldset .log-in .label-log {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4/10;
  grid-row: 7/8;
}
.main-label form .log-in-fieldset .log-in .input-log {
  display: flex;
  flex-direction: none;
  justify-content: center;
  grid-column: 4/10;
  grid-row: 8/9;
}
.main-label form .log-in-fieldset .log-in .input-log input {
  font-size: 17px;
  text-align: center;
  background-color: #F24C27;
  border: none;
  border-radius: 20px;
  width: 500px;
  height: 100%;
  color: #FFFFFF;
}
.main-label form .log-in-fieldset .log-in .input-log input:hover {
  border: solid 2px #148C3E;
}
.main-label form .log-in-fieldset .log-in .label-log-p {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4/10;
  grid-row: 9/10;
}
.main-label form .log-in-fieldset .log-in .input-log-p-p {
  display: flex;
  justify-content: center;
  align-items: none;
  grid-column: 4/10;
  grid-row: 10/11;
}
.main-label form .log-in-fieldset .log-in .input-log-p-p input {
  font-size: 17px;
  text-align: center;
  background-color: #F24C27;
  border: none;
  border-radius: 20px;
  width: 500px;
  height: 100%;
  color: #FFFFFF;
}
.main-label form .log-in-fieldset .log-in .input-log-p-p input:hover {
  border: solid 2px #148C3E;
}
.main-label form .log-in-fieldset .log-in .tex-log {
  grid-column: 4/10;
  grid-row: 12/13;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-label form .log-in-fieldset .log-in .tex-log a {
  color: #000000;
}
.main-label form .log-in-fieldset .log-in .submit-log {
  grid-column: 6/8;
  grid-row: 11/12;
}
.main-label form .log-in-fieldset .log-in .submit-log input {
  background-color: #F24C27;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card {
  width: 290px;
  height: 350px;
  padding: 0px 20px;
  margin: 70px;
}
.card img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #F24C27;
  border-radius: 10px;
}
.card h2, .card .conteinerDos .text p, .conteinerDos .text .card p {
  font-family: "Preahvihear", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0.5px;
}
.card p {
  margin: 2px;
  text-align: center;
}
.card button {
  background-color: #F24C27;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 20px;
}
.card button a {
  color: #FFFFFF;
  text-decoration: none;
}
.card .buttoms-2 {
  display: flex;
  justify-content: center;
  align-items: none;
}
.card .buttoms-2:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.card .buttoms-2 button {
  box-shadow: 5px 5px 8px #148C3E;
}

.whatsappfixed {
  width: 50px;
  position: fixed;
  right: 4px;
  bottom: 0;
}
.whatsappfixed img {
  width: 100%;
}
.whatsappfixed img:active {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.register-general {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 700px;
  margin-top: 20px;
}
.register-general .logo-img {
  height: 100px;
}
.register-general .logo-img img {
  width: 100%;
  height: 100%;
}
.register-general .register {
  width: 800px;
  height: 100%;
}
.register-general .register .password input {
  height: 20px;
  text-align: center;
}

@media (min-width: 350px) and (max-width: 768px) {
  header .nav-wrapper nav #toggle:checked ~ .menu {
    height: 100%;
  }
  header .nav-wrapper nav label {
    display: flex;
    color: #FFFFFF;
    cursor: pointer;
  }
  header .nav-wrapper nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  header .nav-wrapper nav .menu .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px;
  }
  header .nav-wrapper nav .menu .navBar li {
    background-color: #E5E5E5;
  }
  header .nav-wrapper nav .menu .navBar li a {
    color: #000000;
  }
}
/* Iphone SE 375 X 667 */
@media only screen and (min-width: 350px) and (max-width: 570px) {
  .navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .navBar li {
    width: 41px;
    height: 20px;
  }
  .navBar li a {
    font-size: 20px;
  }
  .conteinerUno {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteinerUno .img img {
    display: none;
  }
  .conteinerUno .imgtext h2, .conteinerUno .imgtext .conteinerDos .text p, .conteinerDos .text .conteinerUno .imgtext p {
    font-size: 25px;
  }
  .conteinerUno .imgtext p {
    font-size: 15px;
  }
  .conteinerDos {
    width: 100%;
    height: 170px;
  }
  .conteinerDos .text {
    width: 100%;
    height: 150px;
  }
  .conteinerDos .text h2, .conteinerDos .text p {
    font-size: 15px;
  }
  .conteinerDos .text p {
    font-size: 10px;
  }
  .conteinerDos .buttoms {
    margin-left: 10px;
  }
  .conteinerDos .buttoms button {
    width: 100px;
    height: 35px;
  }
  .conteinerDos .buttoms button a {
    font-size: 10px;
  }
  .conteinerTres {
    display: flex;
    flex-direction: column;
    height: 350px;
  }
  .conteinerTres .imgtextDos img {
    display: none;
  }
  .conteinerTres .textDos {
    width: 250px;
    height: 50px;
  }
  .conteinerTres .textDos h2, .conteinerTres .textDos .conteinerDos .text p, .conteinerDos .text .conteinerTres .textDos p {
    font-size: 20px;
  }
  .conteinerTres .card {
    width: 200px;
    height: 100px;
    margin: 50px 0;
  }
  .conteinerTres .card h2, .conteinerTres .card .conteinerDos .text p, .conteinerDos .text .conteinerTres .card p {
    font-size: 10px;
  }
  .conteinerTres .card p {
    display: none;
  }
  .conteinerTres .cards-group-uno {
    display: flex;
  }
  .conteinerTres .cards-group-dos {
    display: flex;
  }
  .conteinerCuatro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imagen/Back.jpg);
    margin-top: 150px;
    height: 100px;
  }
  .conteinerCuatro .r-1 {
    margin-left: 100px;
    margin-bottom: 3px;
  }
  .conteinerCuatro .r-1 a h2, .conteinerCuatro .r-1 a .conteinerDos .text p, .conteinerDos .text .conteinerCuatro .r-1 a p {
    margin-right: 80px;
    font-size: 15px;
  }
  .conteinerCinco .imgCinco img {
    display: none;
  }
  .conteinerCinco .textCinco h2, .conteinerCinco .textCinco .conteinerDos .text p, .conteinerDos .text .conteinerCinco .textCinco p {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 15px;
  }
  .conteinerCinco .textCinco p {
    margin-left: 30px;
    font-size: 10px;
  }
  .new-section {
    display: none;
  }
  footer {
    height: 150px;
  }
  footer .access ul {
    gap: 10px;
  }
  footer .access ul li {
    width: 70px;
    height: 30px;
  }
  footer .access ul li:first-child {
    display: none;
  }
  footer .access ul li a {
    font-size: 10px;
  }
  footer .socialMedia img {
    width: 25px;
    height: 23px;
  }
  footer .img-logo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  footer .img-logo img {
    width: 35px;
    height: 40px;
  }
  /* Blog*/
  .container-blog {
    height: 700px;
  }
  .container-blog .h1-conteiner-dimension {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  .container-blog .card-size-blog {
    width: 80px;
    height: 10px;
  }
  .container-blog .card-size-blog img {
    width: 100%;
    height: 100px;
  }
  .container-blog .card-size-blog .h2-quin {
    height: 20px;
    font-size: 20px;
  }
  .container-blog .quincena1 {
    grid-column: 2/6;
  }
  .container-blog .quincena2 {
    grid-column: 7/8;
  }
  .container-blog .quincena3 {
    grid-column: 2/6;
  }
  .container-blog .quincena4 {
    grid-column: 7/8;
  }
  .container-blog .quincena5 {
    grid-column: 2/6;
  }
  .container-blog .quincena6 {
    grid-column: 7/8;
  }
  .container-blog .move-1 {
    grid-row: 5/6;
  }
  .container-blog .move-2 {
    grid-row: 8/9;
  }
  .container-blog .image {
    display: none;
  }
  .h1-conteiner-dimension {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .conteiner-catalogo {
    height: 700px;
  }
  .conteiner-catalogo .card-size-blog {
    width: 80px;
    height: 10px;
  }
  .conteiner-catalogo .card-size-blog img {
    width: 100%;
    height: 100px;
  }
  .conteiner-catalogo .card-size-blog .h2-quin {
    height: 20px;
    font-size: 20px;
    font-size: 10px;
  }
  .conteiner-catalogo .quincena1 {
    grid-column: 2/6;
    box-shadow: none;
  }
  .conteiner-catalogo .quincena2 {
    grid-column: 10/11;
    box-shadow: none;
  }
  .conteiner-catalogo .quincena3 {
    grid-column: 2/6;
    box-shadow: none;
  }
  .conteiner-catalogo .quincena4 {
    grid-column: 10/11;
    box-shadow: none;
  }
  .conteiner-catalogo .quincena5 {
    grid-column: 2/6;
    box-shadow: none;
  }
  .conteiner-catalogo .quincena6 {
    grid-column: 10/11;
    box-shadow: none;
  }
  .conteiner-catalogo .move-1 {
    grid-row: 5/6;
  }
  .conteiner-catalogo .move-2 {
    grid-row: 8/9;
  }
  .conteiner-catalogo .image {
    display: none;
  }
  .change-product .quincena1 {
    grid-column: 2/6;
    box-shadow: none;
  }
  .change-product .quincena2 {
    grid-column: 7/8;
    box-shadow: none;
  }
  .change-product .quincena3 {
    grid-column: 2/6;
    box-shadow: none;
  }
  .change-product .quincena4 {
    grid-column: 7/8;
    box-shadow: none;
  }
  .change-product .quincena5 {
    grid-column: 2/6;
    box-shadow: none;
  }
  .change-product .quincena6 {
    grid-column: 7/8;
    box-shadow: none;
  }
  .change-product .move-1 {
    grid-row: 5/6;
  }
  .change-product .move-2 {
    grid-row: 8/9;
  }
  .change-product .image {
    display: none;
  }
  .general-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 750px;
  }
  .general-form .section1 {
    width: 350px;
  }
  .general-form .section1 h1 {
    font-size: 30px;
  }
  .general-form .section2 {
    width: 250px;
    height: 150px;
  }
  .general-form .section2 img {
    width: 100%;
    height: 100%;
  }
  .general-form .section3 {
    width: 90%;
    height: 450px;
  }
  .general-form .section3 form {
    width: 100%;
    height: 100%;
  }
  .general-form .section3 form fieldset {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 50px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .general-form .section3 form fieldset .label-1 {
    grid-row: 1/2;
    text-align: center;
  }
  .general-form .section3 form fieldset .time-date {
    grid-row: 3/4;
    text-align: center;
  }
  .general-form .section3 form fieldset .contact-date {
    grid-row: 4/5;
    text-align: center;
  }
  .general-form .section3 form fieldset .input-1 {
    grid-row: 6/7;
  }
  .general-form .section3 label {
    text-align: center;
  }
  .general-form .section4 {
    display: none;
  }
  .register-general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    margin-top: 2px;
    flex-direction: column;
  }
  .register-general .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .register-general .logo-img .logo-register {
    width: 100px;
    height: 150px;
  }
  .register-general .register {
    width: 90%;
    height: 450px;
    margin-bottom: 10px;
  }
  .register-general .register form {
    width: 100%;
    height: 100%;
  }
  .register-general .register form fieldset {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 50px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .register-general .register form fieldset .label-1 {
    grid-row: 1/2;
    text-align: center;
  }
  .register-general .register form fieldset .time-date {
    grid-row: 3/4;
    text-align: center;
  }
  .register-general .register form fieldset .password {
    grid-row: 4/5;
  }
  .register-general .register form fieldset .contact-date {
    grid-row: 5/6;
    text-align: center;
  }
  .register-general .register form fieldset .input-1 {
    grid-row: 7/8;
  }
  .register-general .register label {
    text-align: center;
  }
  .register-general .section4 {
    display: none;
  }
  .form-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .form-textarea .section-large .large {
    font-size: 20px;
  }
  .form-textarea .section2 {
    width: 300px;
    height: 200px;
  }
  .form-textarea .section2 img {
    width: 100%;
    height: 100%;
  }
  .form-textarea .textarea-1 {
    width: 90%;
    height: 550px;
    margin-bottom: 10px;
  }
  .form-textarea .textarea-1 form {
    width: 100%;
    height: 100%;
  }
  .form-textarea .textarea-1 form fieldset {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 50px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .form-textarea .textarea-1 form fieldset .label-1 {
    grid-row: 1/2;
    text-align: center;
  }
  .form-textarea .textarea-1 form fieldset .time-date {
    grid-row: 3/4;
    text-align: center;
  }
  .form-textarea .textarea-1 form fieldset .affair {
    grid-row: 4/5;
    margin-top: 40px;
  }
  .form-textarea .textarea-1 form fieldset .affair textarea {
    width: 250px;
    height: 100px;
  }
  .form-textarea .textarea-1 form fieldset .contact-date {
    grid-row: 5/6;
    text-align: center;
  }
  .form-textarea .textarea-1 form fieldset .input-1 {
    grid-row: 8/9;
  }
  .form-textarea .textarea-1 label {
    text-align: center;
  }
  .form-textarea .section4 {
    display: none;
  }
  .form-personlized .personalized-1 {
    height: 700px;
  }
  .form-personlized .personalized-1 .personalized {
    grid-row: 7/8;
  }
  .form-personlized .personalized-1 .personalized textarea {
    width: 250px;
    height: 100px;
  }
  .log-in-box .main-label {
    width: 100%;
  }
  .log-in-box .main-label form {
    width: 90%;
    height: 50%;
  }
  .log-in-box .main-label form .log-in-fieldset {
    width: 100%;
  }
  .log-in-box .main-label form .log-in-fieldset .imge-log {
    width: 150px;
  }
  .log-in-box .main-label form .log-in-fieldset .imge-log img {
    width: 100%;
    height: 200px;
  }
}
/* Ipad mini 768 x1024 */
@media only screen and (min-width: 570px) and (max-width: 1300px) {
  .navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .navBar li {
    width: 92px;
    height: 30px;
  }
  .navBar li a {
    font-size: 15px;
  }
  .conteinerUno {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .conteinerUno .img img {
    display: none;
  }
  .conteinerUno .imgtext h2, .conteinerUno .imgtext .conteinerDos .text p, .conteinerDos .text .conteinerUno .imgtext p {
    font-size: 30px;
  }
  .conteinerUno .imgtext p {
    font-size: 25px;
  }
  .conteinerDos {
    height: 170px;
  }
  .conteinerDos .text {
    width: 350px;
    height: 150px;
  }
  .conteinerDos .text h2, .conteinerDos .text p {
    font-size: 20px;
  }
  .conteinerDos .text p {
    font-size: 15px;
  }
  .conteinerDos .buttoms button {
    width: 150px;
    height: 40px;
  }
  .conteinerDos .buttoms button a {
    font-size: 15px;
  }
  .conteinerTres {
    display: flex;
    flex-direction: column;
    height: 900px;
  }
  .conteinerTres .imgtextDos {
    height: 300px;
  }
  .conteinerTres .imgtextDos img {
    width: 500px;
    height: 400px;
    margin-top: 20px;
  }
  .conteinerTres .textDos {
    width: 250px;
    height: 50px;
  }
  .conteinerTres .textDos h2, .conteinerTres .textDos .conteinerDos .text p, .conteinerDos .text .conteinerTres .textDos p {
    font-size: 20px;
  }
  .conteinerTres .card {
    height: 100px;
    margin: 50px 0;
  }
  .conteinerTres .card h2, .conteinerTres .card .conteinerDos .text p, .conteinerDos .text .conteinerTres .card p {
    font-size: 10px;
  }
  .conteinerTres .card p {
    display: none;
  }
  .conteinerTres .cards-group-uno {
    display: flex;
  }
  .conteinerTres .cards-group-dos {
    display: flex;
  }
  .conteinerCuatro {
    display: flex;
    margin-top: 150px;
    height: 100px;
    background-image: url(../assets/imagen/Back.jpg);
  }
  .conteinerCuatro .r-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteinerCinco .textCinco {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteinerCinco .imgCinco img {
    display: none;
  }
  footer {
    height: 150px;
  }
  footer .access ul {
    gap: 10px;
  }
  footer .access ul li {
    width: 120px;
    height: 30px;
  }
  footer .access ul li a {
    font-size: 15px;
  }
  footer .socialMedia img {
    width: 43px;
    height: 41px;
  }
  footer .img-logo img {
    width: 76px;
    height: 86px;
  }
  /* Blog*/
  .container-blog {
    height: 800px;
  }
  .container-blog .card-size-blog {
    width: 100px;
    height: 10px;
  }
  .container-blog .card-size-blog img {
    width: 100%;
    height: 100px;
  }
  .container-blog .card-size-blog .h2-quin {
    font-size: 20px;
    height: 20px;
  }
  .container-blog .image {
    grid-column: 1/5;
    grid-row: 2/3;
    height: 150px;
    margin-left: 20px;
  }
  .container-blog .move-1 {
    grid-row: 3/7;
  }
  .container-blog .move-2 {
    grid-row: 9/10;
    margin-top: 120px;
  }
  .conteiner-catalogo {
    height: 700px;
  }
  .conteiner-catalogo .card-size-blog {
    width: 100px;
    height: 10px;
    box-shadow: none;
  }
  .conteiner-catalogo .card-size-blog img {
    width: 100%;
    height: 100px;
  }
  .conteiner-catalogo .card-size-blog .h2-quin {
    font-size: 15px;
    height: 20px;
  }
  .conteiner-catalogo .image-n {
    grid-column: 1/5;
    grid-row: 2/3;
    height: 150px;
    margin-left: 20px;
  }
  .conteiner-catalogo .note {
    grid-row: 3/4;
    grid-column: 1/5;
    margin-left: 20px;
    height: 150px;
  }
  .conteiner-catalogo .note p {
    font-size: 15px;
  }
  .conteiner-catalogo .move-1 {
    grid-row: 3/4;
  }
  .conteiner-catalogo .move-2 {
    grid-row: 4/5;
  }
  .conteiner-catalogo .list-move {
    grid-row: 4/5;
    grid-column: 1/5;
    margin-left: 20px;
    height: 150px;
    width: 250px;
  }
  .conteiner-catalogo .list-move .h2-quin {
    font-size: 15px;
  }
  .change-product {
    height: 700px;
  }
  .change-product .card-size-blog {
    width: 100px;
    height: 10px;
    box-shadow: none;
  }
  .change-product .card-size-blog img {
    width: 100%;
    height: 100px;
  }
  .change-product .card-size-blog .h2-quin {
    font-size: 15px;
    height: 20px;
  }
  .change-product .image-n {
    grid-column: 1/5;
    grid-row: 2/3;
    height: 150px;
    margin-left: 20px;
  }
  .change-product .note {
    grid-row: 3/4;
    grid-column: 1/5;
    margin-left: 20px;
    height: 150px;
  }
  .change-product .note p {
    font-size: 15px;
  }
  .change-product .move-1 {
    grid-row: 3/4;
  }
  .change-product .move-2 {
    grid-row: 4/5;
  }
  .change-product .list-move {
    grid-row: 4/5;
    grid-column: 1/5;
    margin-left: 20px;
    height: 150px;
    width: 250px;
  }
  .change-product .list-move .h2-quin {
    font-size: 15px;
  }
  .general-form .section3 {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .general-form .section3 form {
    width: 100%;
    margin-left: 20px;
  }
  .general-form .section3 form fieldset .label-1 {
    font-size: 15px;
  }
  .general-form .section3 form fieldset .label-1 input {
    width: 120px;
  }
  .general-form .section3 form fieldset .time-date {
    font-size: 15px;
  }
  .general-form .section3 form fieldset .time-date input {
    width: 120px;
  }
  .general-form .section3 form fieldset .contact-date {
    font-size: 15px;
  }
  .general-form .section3 form fieldset .contact-date input {
    width: 120px;
  }
  .general-form .section3 form fieldset .affair textarea {
    width: 90%;
  }
  .general-form .section3 form fieldset .personalized textarea {
    width: 90%;
  }
  .general-form .section4 {
    width: 250px;
  }
  .general-form .section4 h2, .general-form .section4 .conteinerDos .text p, .conteinerDos .text .general-form .section4 p {
    font-size: 20px;
  }
  .general-form .section4 p {
    font-size: 15px;
  }
  .register-general .register {
    width: 90%;
  }
  .register-general .register form fieldset .label-1 {
    font-size: 15px;
  }
  .register-general .register form fieldset .label-1 input {
    width: 200px;
  }
  .register-general .register form fieldset .time-date {
    font-size: 15px;
  }
  .register-general .register form fieldset .time-date input {
    width: 200px;
  }
  .register-general .register form fieldset .contact-date {
    font-size: 15px;
  }
  .register-general .register form fieldset .contact-date input {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
