/* Ipad mini 768 x1024 */
@media only screen and (min-width: 570px) and (max-width:1300px){
    .navBar{
        @include flex(row, wrap, none, none, none);
        li{
            @include size (92px , 30px);
            a{
                font-size: 15px;
            }
        }
    }
    .conteinerUno{
        @include flex-5p(center, center);
        height: 300px;
        .img{
            img{
                @include none;
            }
        }
        .imgtext {
            h2{
                font-size: 30px;
            }
            p{
                font-size: 25px;
            }
        }
    }
    .conteinerDos{
        height: 170px;
        .text{
            @include size (350px, 150px);
            h2{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .buttoms {
            button{
                @include size (150px, 15px);
                a{
                    font-size: 15px;
                }
            }
        }
    }
    .conteinerTres{
        @include flex-height(column, 900px);
        .imgtextDos{
            height: 300px;
            img{
                @include size-margin-top(500px, 400px, 20px);
            }
        }
        .textDos{
            @include size(250px, 50px);
            h2{
                font-size: 20px;
            }
        }
        .card{
            @include height-margin-margin(100px, 50px 0);
            h2{
                font-size: 10px;
            }
            p{
                display: none;
            }
        }
        .cards-group-uno{
            display: flex;
        }
        .cards-group-dos{
            display: flex;
        }
    }
    .conteinerCuatro{
        @include responsive-margintop-height-background(150px, 100px, url(../assets/imagen/Back.jpg));
        .r-1{
            @include flex-5p(center,center);
        }
    }
    .conteinerCinco{
        .textCinco{
            @include flex-5p(center, center);
        } 
        .imgCinco{
            img{
                @include none;
            }
        }
    }
    footer{
        height: 150px;
        .access{
            ul{
                gap: 10px;
                li{
                    @include size(120px, 30px);
                    a{
                        font-size: 15px;
                    }
                }
            }
        } 
        .socialMedia {
            img{
                @include size (43px, 41px);
            }
        }
        .img-logo {
            img{
                @include size (76px, 86px);
            }
        }
    }
    /* Blog*/
    .container-blog{
        height: 800px;
        .card-size-blog{
            @include size(100px, 10px);
            img{
                @include size (100%, 100px);
            }
            .h2-quin{
                font-size: 20px;
                height: 20px;
            }
        }
        .image{
            grid-row: 3/7;
            grid-column: 1/5;
            margin-left: 20px;
        }
        .move-1{
            grid-row: 6/7;
        }
        .move-2{
            grid-row: 9/10;
        }
    }
}