/* Ipad mini 768 x1024 */
@media only screen and (min-width: 570px) and (max-width:1300px){
    .navBar{
        @include flex(row, wrap, none, none, none);
        li{
            @include size (92px , 30px);
            a{
                font-size: 15px;
            }
        }
    }
    .conteinerUno{
        @include flex-5p(center, center);
        height: 300px;
        .img{
            img{
                @include none;
            }
        }
        .imgtext {
            h2{
                font-size: 30px;
            }
            p{
                font-size: 25px;
            }
        }
    }
    .conteinerDos{
        height: 170px;
        .text{
            @include size (350px, 150px);
            h2{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .buttoms {
            button{
                @include size (150px, 15px);
                a{
                    font-size: 15px;
                }
            }
        }
    }
    .conteinerTres{
        display: flex;
        flex-direction: column;
        height: 900px;
        .imgtextDos{
            height: 300px;
            img{
                margin-top: 20px;
                width: 500px;
                height: 400px;
            }
        }
        .textDos{
            width: 250px;
            height: 50px;
            h2{
                font-size: 20px;
            }
        }
        .card{
            height: 100px;
            margin: 50px 0; 
            h2{
                font-size: 10px;
            }
            p{
                display: none;
            }
        }
        .cards-group-uno{
            display: flex;
        }
        .cards-group-dos{
            display: flex;
        }
    }
    .conteinerCuatro{
        display: flex;
        margin-top: 150px;
        height: 100px;
        background-image: url(../assets/imagen/Back.jpg);
        .r-1{
            margin-left: 100px;
            margin-bottom: 3px;
        }
        .textCinco{
            h2{
                margin-top: 10px;
                margin-right: 50px;
                margin-bottom: 30px;
                font-size: 20px;
            }
        } 
        .imgCinco{
            img{
                display: none;
            }
        }
    }
    footer{
        height: 150px;
        .access{
            ul{
                gap: 10px;
                li{
                    width: 120px;
                    height: 40px;
                    a{
                        font-size: 15px;
                    }
                }
            }
        } 
        .socialMedia {
            img{
                width: 43px;
                height: 41px;
            }
        }
        .img-logo {
            img{
                width: 76px;
                height: 86px;
            }
        }
    }
    /* Blog*/
    .container-blog{
        height: 800px;
        .card-size-blog{
            width: 100px;
            height: 10px;
            img{
                width: 100%;
                height: 100px;
            }
            .h2-quin{
                font-size: 20px;
                height: 20px;
            }
        }
        .image{
            grid-row: 3/7;
            grid-column: 1/5;
            margin-left: 20px;
        }
        .move-1{
            grid-row: 6/7;
        }
        .move-2{
            grid-row: 9/10;
        }
    }
}