$colors:(
    verde: #148C3E,
    naranja: #F24C27,
    verde-oscuro: #205929,
    naranja-oscuro: #BF5841,
    negro: #000000,
    blanco: #FFFFFF,
    gris-semi: #E5E5E5,
    blanco-oscuro: #F2F2F2
);
