@mixin flex ($direction, $wrap, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin none {
    display: none;
}
@mixin flex-2p ($justify, $gap){
    display: flex;
    justify-content: $justify ;
    gap: $gap;
}
@mixin flex-3p($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}
@mixin flex-4p($direction, $align){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}
@mixin flex-5p($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex-align-self-margin($direction, $self, $margin){
    display: flex;
    flex-direction: $direction;
    align-self: $self;
    margin-bottom: $margin;
}
@mixin flex-height($direction, $height){
    display: flex;
    flex-direction: $direction;
    height: $height;
}
@mixin height-row-gap($height, $gap){
    height: $height;
    gap: $gap;
}
@mixin box-4p($padding, $position, $top, $z-index){
    padding: $padding;
    position: $position;
    top: $top;
    z-index: $z-index;
}
@mixin size ($width , $height){
    width: $width;
    height: $height;
}
@mixin size-height($height, $size){
    height: $height;
    font-size: $size;
}
@mixin size-radius($width, $height,$border-radius){
    width: $width;
    height: $height;
    border-radius: $border-radius;
}
@mixin width-radius($width, $radius){
    width: $width;
    border-radius: $radius;
}
@mixin size-radius-margin($width, $height, $radius, $margin){
    width: $width;
    height: $height;
    border-radius: $radius;
    margin-bottom: $margin;
}
@mixin size-padding($width, $height, $padding){
    width: $width;
    height: $height;
    padding: $padding;
}
@mixin size-padding-margin-top($width, $height, $padding, $margin){
    width: $width;
    height: $height;
    padding: $padding;
    margin-top:$margin ;
}
@mixin size-padding-margin-margin($width, $height, $padding, $margin){
    width: $width;
    height: $height;
    padding: $padding;
    margin:$margin ;
}
@mixin size-margin-margin($width, $height, $margin){
    width: $width;
    height:$height;
    margin: $margin;
}
@mixin height-margin-margin($height, $margin){
    height:$height;
    margin: $margin;
}
@mixin height-margin-left ($height, $margin){
    height: $height;
    margin-left: $margin;
}
@mixin size-margin-top ($width, $height, $margin){
    width: $width;
    height: $height;
    margin-top: $margin;
}
@mixin size-margin-right ($width, $height, $margin){
    width: $width;
    height: $height;
    margin-right: $margin;
}
@mixin size-back-border ($background, $width, $height, $radius){
    background-color: $background;
    width: $width;
    height: $height;
    border-radius: $radius;
}
@mixin font-property($family, $align, $size, $margin){
    font-family: $family;
    text-align: $align;
    font-size: $size;
    margin-bottom: $margin;
}
@mixin font-property-margin-top($family, $align, $size, $margin, $top){
    font-family: $family;
    text-align: $align;
    font-size: $size;
    margin-top: $top;
    margin-bottom: $margin;

}
@mixin font-property-3p($family, $align, $color){
    font-family: $family;
    text-align: $align;
    color: $color;
}
@mixin font-style-2p ($size, $decoration){
    font-size: $size;
    text-decoration: $decoration;
}
@mixin font-style-2p-align ($size, $align){
    font-size: $size;
    text-align: $align;
}
@mixin font-style-size-margin($size, $align, $margin){
    font-size: $size;
    text-align:$align;
    margin: $margin;
}
@mixin margin($top, $left, $bottom, $right){
    margin-top: $top;
    margin-left: $left;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin margin-3p-size($top,$bottom, $right, $size){
    margin-top: $top;
    margin-bottom:$bottom;
    margin-right: $right;
    
}
@mixin margin-2p($left, $bottom){
    margin-left: $left;
    margin-bottom: $bottom;
}
@mixin height-margin($height, $margin){
    height: $height;
    margin-top: $margin;
}
@mixin margin-2p-size($left, $bottom, $size){
    margin-left: $left;
    margin-bottom: $bottom;
    font-size: $size;
}
@mixin margin-right-size($margin, $size){
    margin-right: $margin;
    font-size: $size;
}
@mixin margin-left-size($margin, $size){
    margin-left: $margin;
    font-size: $size;
}
@mixin align-margin ($margin, $align){
    margin: $margin;
    text-align: $align;
}
@mixin background-image ($background){
    background-image: $background;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin button ($background, $margin, $width, $height, $border, $radius){
    background-color: $background;
    margin-bottom: $margin;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $radius;
}
@mixin button-top ($background, $margin,$top, $width, $height, $border, $radius){
    background-color: $background;
    margin-top: $top;
    margin-bottom: $margin;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $radius;
}
@mixin ancla ($color, $decoration, $size){
    color: $color;
    text-decoration: $decoration;
    font-size: $size;
    
}
@mixin ancala-font($font, $color, $size, $decoration){
    font-family: $font;
    color: $color;
    font-size: $size;
    text-decoration: $decoration;
}
@mixin ancla-color-decortarion($color, $decortion){
    color: $color;
    text-decoration: $decortion;
}
@mixin height-align ($height, $align){
    height: $height;
    text-align: $align;
}
@mixin align-color-font-size-border-back-margin($align, $color, $font, $size, $border, $back, $margin){
    text-align: $align;
    color: $color;
    font-family: $font;
    font-size: $size;
    border: $border;
    background-color: $back;
    margin-bottom: $margin;
}
@mixin responsive-margintop-height-background($margin, $height, $background){
    display: flex;
    margin-top: $margin;
    height: $height;
    background-image: $background;
}
@mixin backgroung-height-margin-top($background, $margin, $height){
    background-image: $background;
    margin-top: $margin;
    height: $height;
}
@mixin fixed{
    width: 50px;
    position: fixed;
    right: 4px;
    bottom: 0;
}