footer{
    @include size-radius (100%, 355px, none);
    @include flex (none, none, space-between, center, none);
    padding: 0px 20px;
    background-color: $bg-navBar-footer;
    .socialMedia{
        @include flex (column, none, none, flex-end, none);
        margin-bottom: 10px;
        img{
            @include size-radius (43px, 41px, none);
            &:active{
                animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
                animation-duration: 3s; /* don't forget to set a duration! */
            }
        }
    }
    .access{
        ul{
            @include flex-2p (none, 200px);
            list-style: none;
            li{
                @include flex (none, none, center, center, none);
                @include size-radius (254px, 37px, 1.25rem);
                background-color: $bg-boton-naranja;
                box-shadow: 5px 5px 8px $bg-boton-verde;
                border-radius: 10px;
                a{
                    color: $color-general;
                    @include font-style-2p (20px, none);
                    &:active{
                        animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
                        animation-duration: 3s; /* don't forget to set a duration! */
                    }
                }
            }
        }
    } 
    .img-logo{
        @include flex (column, none, none, flex-end, none);
        margin-bottom: 50px;
        img{
            @include size-radius (76px, 86px, none);
            &:active{
                animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
                animation-duration: 3s; /* don't forget to set a duration! */
            }
        }
    }
}