footer{
    @include size-radius (100%, 355px, none);
    @include flex (none, none, space-between, center, none);
    padding: 0px 20px;
    background-color: $bg-navBar-footer;
    .socialMedia{
        @include flex (column, none, none, flex-end, none);
        margin-bottom: 10px;
        img{
            @include size-radius (43px, 41px, none);
        }
    }
    .access{
        ul{
            @include flex-2p (none, 200px);
            list-style: none;
            li{
                @include flex (none, none, center, center, none);
                @include size-radius (254px, 37px, 1.25rem);
                background-color: $bg-boton-naranja;
                a{
                    color: $color-caja;
                    @include font-style-2p (20px, none)
                }
            }
        }
    } 
    .img-logo{
        @include flex (column, none, none, flex-end, none);
        margin-bottom: 50px;
        img{
            @include size-radius (76px, 86px, none);
        }
    }
}