header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding: 0px 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
}
.nav-wrapper{
    width: 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
nav #toggle, nav label{
    display: none;
}
.menu{
    display: flex;
    justify-content: flex-end;
}
.navBar{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navBar li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #148C3E;
    width: 184px;
    height: 35px;
    border-radius: 20px;
}
.navBar li a{
    text-decoration: none;
    font-size:20px;
    color: white;
}