header{
    @include flex (row, none, space-between, center, none);
    width: 100%;
    background-color: $bg-navBar-footer;
    @include box-4p(0px 20px, sticky, 0, 4);
    .nav-wrapper{
        width: 100%;
        nav{
            @include flex (none, wrap, space-between, center, none);
            .logo{
                width: 100px;
                img{
                    width: 100%;
                }
            }
            #toggle, label{
                @include none;
            }
            .menu{
                @include flex-2p(flex-end, none);
            }
            .navBar{
                @include flex-2p (none, 1.25rem);
                list-style: none;
                li{
                    @include flex (none, none, center, center, none);
                    background-color:$bg-boton-verde;
                    @include size-radius (184px, 35px, 20px);
                    a{
                        @include font-style-2p (20px, none);
                        color: $color-caja;
                    }
                }
            }
        }
    }
}