.conteinerUno{
    @include flex(none, none, space-between, center, none);
    @include size-padding (100%, 500px, 0px 20px);
    .imgtext{
        @include size(800px, 119px);
        @include flex (column, none, flex-end, none, none);
        h2{
            font-family:$encabezado-frase;
            @include font-style-size-margin(35px, center, 40px);
        }
        p{
            @include font-style-size-margin(30px, center, none);
        }
    }
    .img {
        img{
            @include size-margin-top(436px, 428px, 45px);
        }
    }
}
.conteinerDos{
    @extend .conteinerUno;
    @include size-padding (100%, 268px, 0px 20px);
    @include background-image(url(../assets/imagen/fondoUno.jpg), cover, no-repeat);
    .text{
        background-color: $bg-boton-verde;
        color: $color-caja;
        @include size-radius (475px, 212px, 20px);
        @include flex-3p(column, center);
        h2{
            font-family: 'Preahvihear', sans-serif;
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
        }
        p{
            font-family: 'Preahvihear', sans-serif;
            text-align: center;
            font-size: 20px;
        }
    }
    .buttoms{
        display: flex;
        flex-direction: column;
        button{
            background-color: #f24c27;
            margin-bottom: 20px;
            width: 184px;
            height: 35px;
            border: none;
            border-radius: 20px;
            a{
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
}
.conteinerTres{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    height: 800px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    .imgtextDos{
        width: 531px;
        height: 561px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 531px;
            height: 454px;
            border-radius: 1.25rem;
            margin-bottom: 10px;
        }
    }
    .textDos{
        width: 490px;
        height: 69px;
        background-color: #148C3E;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-family: 'Preahvihear', sans-serif;
            text-align: center;
            color: white;
        }
    }
}
.conteinerCuatro{
    background-image: url(../assets/imagen/Back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        font-family: 'Preahvihear', sans-serif;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
}
.conteinerCinco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    .imgCinco{
        margin: 20px 20px 20px 20px;
    }
    .textCinco{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 525px;
        height: 224px;
        margin-right: 100px;
        h2{
            font-size: 'Preahvihear', sans-serif;
            font-size: 30px;
            text-align: center;
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            text-align: center;
        }
    }
}