.conteinerUno{
    @include flex(none, none, space-between, center, none);
    @include size-padding (100%, 500px, 0px 20px);
    .imgtext{
        @include size(800px, 119px);
        @include flex (column, none, flex-end, none, none);
        h2{
            font-family:$encabezado-frase;
            @include font-style-size-margin(35px, center, 40px);
        }
        p{
            @include font-style-size-margin(30px, center, none);
        }
    }
    .img {
        img{
            @include size-margin-top(436px, 428px, 45px);
        }
    }
}
.conteinerDos{
    @include size-padding(100%, 268px, 0px 20px);
    @include background-image(url(../assets/imagen/fondoUno.jpg));
    @include flex-5p(space-between, center);
    .text{
        background-color: $bg-boton-verde;
        color: $color-caja;
        @include size-radius (475px, 212px, 20px);
        @include flex-3p(column, center);
        h2{
            @include font-property($encabezado-frase, center, 30px, 20px)
        }
        p{
            @extend h2;
            font-size: 20px;
            margin-bottom: none;
        }
    }
    .buttoms{
        @include flex-3p (column, none);
        button{
            @include button($bg-boton-naranja, 20px, 184px, 35px, none, 20px);
            a{
                @include ancla ($color-caja, none, 20px);
            }
        }
    }
}
.conteinerTres{
    @include size-padding-margin-top(100%, 800px, 0px 20px, 50px);
    @include flex-5p(space-between, center);
    .imgtextDos{
        @include size(531px, 561px);
        @include flex-4p(column, center);
        img{
            @include size-radius-margin(531px, 454px, 1.25rem, 10px);
        }
    }
    .textDos{
        @include size-back-border($bg-boton-verde, 490px, 69px, 20px);
        @include flex-3p (column, center);
        h2{
            @include font-property-3p( $encabezado-frase, center, $color-caja);
        }
    }
}
.conteinerCuatro{
    @include background-image(url(../assets/imagen/Back.jpg));
    @include size (100%, 167px);
    @include flex-5p(center, center);
    a{
        @include ancala-font( $encabezado-frase, $color-caja, 20px, none);
    }
}
.conteinerCinco{
    @include flex-5p(space-between, center);
    padding: 0px 20px;
    .imgCinco{
        margin: 20px 20px 20px 20px;
    }
    .textCinco{
        @include flex(column, none, center, center, none);
        @include size-margin-right(525px, 224px, 100px);
        h2{
            @include font-property($encabezado-frase, center, 30px, 50px);
        }
        p{
            @include font-style-2p-align(20px, center);
        }
    }
}