.register-general{
    @include flex(column, none, center, center, none);
    height: 700px;
    margin-top: 20px;
    .logo-img{
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .register{
        height: 100%;
        width: 800px;
        .password input{
            height: 20px;
            text-align: center;
        }
    }
}


