.card{
    @include size-padding-margin-margin(290px, 350px, 0px 20px, 70px);
    img{
        @include width-radius(100%, 20px);
        box-shadow: 5px 5px 8px $bg-boton-naranja;
        border-radius: 10px;
    }
    h2{
        @include font-property-margin-top($encabezado-frase, center, 20px, 0.5px, 10px);
    }
    p{
        @include align-margin(2px, center);
    }
    button{
        @include button-top($bg-boton-naranja, 20px,10px, 50px, 20px, none, 20px);
        a{
            @include ancla-color-decortarion($color-caja, none);
        }
        
    }
    .buttoms-2{
        @include flex-5p(center, none);
        &:active{
            animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 3s; /* don't forget to set a duration! */
        }
        button{
            box-shadow: 5px 5px 8px $bg-boton-verde;
        }
    }
}