.main-label{
    @include flex-4p(column, center);
    margin: 50px auto;
    form{
        .log-in-fieldset{
            @include fieldset;
            .log-in{
                @include size (100%, 750px);
                @include column-rows-gap(repeat(12,1fr),repeat(12,1fr),20px);
                .imge-log{
                    @include flex-5p(center, center);
                    grid-column: 5/9;
                    grid-row: 2/7;
                    img{
                        @include repeat-size;
                        @include size-margin-bottom(200px, 300px, 10px);
                    }
                }
                .label-log{
                    @include flex-5p(center, center);
                    grid-column: 4/10;
                    grid-row: 7/8;
                }
                .input-log{
                    @include flex-3p(none, center);
                    grid-column: 4/10;
                    grid-row: 8/9;
                    input{
                        @include family-size-back-color-radius-height(17px, center, $bg-boton-naranja, none, 20px, 500px, 100%, $color-caja);
                        &:hover{
                            @include input-hover;
                        }
                    }
                }
                .label-log-p{
                    @include flex-5p(center, center);
                    grid-column: 4/10;
                    grid-row: 9/10;
                }
                .input-log-p-p{
                    @include flex-5p(center, none);
                    grid-column: 4/10;
                    grid-row: 10/11;
                    input{
                        @include family-size-back-color-radius-height(17px, center, $bg-boton-naranja, none, 20px, 500px, 100%, $color-caja);   
                        &:hover{
                            @include input-hover;
                        }
                    }
                }
                .tex-log{
                    grid-column: 4/10;
                    grid-row: 12/13;
                    @include flex(column,none, center, center, none);
                    @include margin-2p-top(50px, 50px);
                    a{
                        color: $color-general
                    }
                }
                .submit-log{
                    grid-column: 6/8;
                    grid-row: 11/12;
                    input{
                        @include size-back-border-color($bg-boton-naranja, $color-caja, 100%, 100%, 20px);
                    }
                }
            }
        }
    }
}