.general-form{
    @include background-size($bg-principal, 100%, 900px);
    @include column-rows-gap-align-items(repeat(8,1fr), repeat(8,1fr),center ,20px);
    .section1{
        @include flex-height-2p(center, center, 100px);
        grid-column: 1/9;
        h1{
            @include flex-5p(center, none);
            @include family-size-back-color-radius-width($encabezado-frase, 40px, $bg-boton-verde, 10px, 400px, $color-caja);
            box-shadow: 5px 5px 8px $bg-boton-naranja;
        }
    }
    .section2{
        grid-column: 3/4;
        img{
            @include size-radius(413px, 397px, 20px);
            @include repeat-size;            
        }
    }
    .section3{
        @include flex(column, none, center, center, none);
        @include height-radius($bg-caja-gris, 285px,20px);
        grid-column: 2/5;
        grid-row: 3/7;
        box-shadow: 5px 5px 8px $bg-navBar-footer;    
        h2{
            @include margin-top-bottom-famlily(20px, 20px,$encabezado-frase);
        }
        form{
            @include flex-width(column, 700px);
            fieldset{
                @include border;
                .label-1{
                    height: 50px;
                    font-family:'Inika', serif;
                    label{
                        margin-right: 10px;
                    }
                }
                .time-date{
                    height: 50px;
                    margin-left: 0px;
                }
                .contact-date{
                    height: 50px;
                    margin-bottom: 10px;
                }
            }
            input[type=submit]{
                @include input-submit;
                &:active{
                    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 3s; /* don't forget to set a duration! */
                }
            }
            input[type=text]{
                @include input-format;
            }
            input[type=tel]{
                @include input-format;
            }
            input[type=date]{
                @include input-format;
            }
            input[type=time]{
                @include input-format;
            }
            input[type=email]{
                @include input-format;
            }
            input{
                @include input-general;
                &:hover{
                    @include input-hover;
                }
            }
            input{
                &:focus{
                    box-shadow: 5px 5px 8px $bg-boton-naranja;
                }
            }
            .input-1 {
                input{
                    @include size (100px, 30px);
                }
            }
        }
        
    }
}
.section4{
    @include size-back-border-color($bg-boton-naranja, $color-caja,400px, 200px, 20px);
    @include flex(column, none, center, center, none);
    grid-column: 5/8;
    grid-row: 2/4;
    box-shadow: 5px 5px 8px $bg-boton-verde;
    
    h2{
        @include h2-box;
    }
    p{
        @include p-box;
    }
}